button {
    border: 3px solid red;
    color: red;
    letter-spacing: 5px;
    padding: 16px 32px;
    margin-top: 20px;
    background-color: transparent;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}