/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/DeleteInfo/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.form-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 24px;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
    border: 2px solid red;
}

label {
    margin-bottom: 8px;
}

input {
    border: 2px solid red;
    background-color: #e3e3e3;
    color: black;
    padding: 8px;
    margin-bottom: 24px;
    font-family: "Libre Baskerville", serif;
}

input:focus-visible{
    outline: none;
    border-color: black;
}


/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Input/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.form-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 24px;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
    border: 2px solid red;
}

label {
    margin-bottom: 8px;
}

input {
    border: 2px solid red;
    background-color: #e3e3e3;
    color: black;
    padding: 8px;
    margin-bottom: 24px;
    font-family: "Libre Baskerville", serif;
}

input:focus-visible{
    outline: none;
    border-color: black;
}


/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Table/style.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.container {
    overflow: hidden;
 }
  
.filterDiv {
    float: left;
    background-color: #c41414;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
    
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #c0b9b9;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/UpadteInfo/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.form-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 24px;
    background-color: #c3c3c3;
    color: black;
    text-align: left;
    border: 2px solid red;
}

label {
    margin-bottom: 8px;
}

input {
    border: 2px solid red;
    background-color: #e3e3e3;
    color: black;
    padding: 8px;
    margin-bottom: 24px;
    font-family: "Libre Baskerville", serif;
}

input:focus-visible{
    outline: none;
    border-color: black;
}


/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/page.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
body, html {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.form p{
  margin: 0;
}

.form div {
    display: flex;
    flex-direction: column;
    
  }  

main {
    background-color: #e3e3e3;
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/ButtonToPage/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
button {
    border: 3px solid red;
    color: red;
    letter-spacing: 5px;
    padding: 16px 32px;
    margin-top: 20px;
    background-color: transparent;
    font-weight: 900;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/SimpleWithParam.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.imagens_all {
    width: 90%;
    height: 100%;

    @media (min-width:1024px) {
    height: 224px;
    width: 30%;
    }
}
