body, html {
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.form p{
  margin: 0;
}

.form div {
    display: flex;
    flex-direction: column;
    
  }  

main {
    background-color: #e3e3e3;
  }